<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style2.css') }}">
</head>
<body class="x0">
    

        <div class ='x1'>
            <h1>NORMAL</h1>
            <hr color="bisque" , width="80%">
            
        </div>
     <div class="container">
        <div  class="x2">

            <h2>Here are some tips to keep your lungs healthy:</h2>

                <ul>
                <li>Don't Smoke</li>
                <li>Avoid Exposure to Indoor Pollutants That Can Damage Your Lungs</li>
                <li>Minimize Exposure to Outdoor Air Pollution</li>
                <li>Prevent Infection</li>
                <li>Get Regular Check-ups</li>
                <li>Exercise</li>
                </ul> 
        </div>

    

        

    </div>
</body>
</html>