<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid+</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style2.css') }}">
</head>
<body class="x4">
    <div class ='x5'>
        <h1>HAS COVID-19</h1>
        <hr color="bisque" , width="80%">
        
    </div>
    <div class="container">
        <div  class="x6">

            <h2>How protect yourself while take care of someone with COVID-19:</h2>
            <ul>
                <li>Keep your hands clean and away from your face. </li>
                <li>Wash your hands with soap and water often for at least 20 seconds.</li>
                <li>Wear a face mask.</li>
                <li>Clean your home often.</li>
                <li>Avoid direct contact with the sick person's fluids</li>
                <li>Avoid having visitors in your home.</li>
            </ul>

        </div>
        
        
    </div>
    
</body>
</html>